body {
    background-color: #f2f2f2;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-title {
    font-size: 28pt;
    text-align: center;
}

.login-box {
    margin-top: 80px;
}

.username, .password {
    border: 1px solid rgb(219, 219, 219);
    width: 300px;
    height: 40px;
    font-size: 14pt;
    margin-bottom: 5px;
    padding-left: 8px;
}

.login-button {
    border-radius: 3px;
    width: 310px;
    height: 40px;
    margin-top: 20px;
    background-color: green;
    border: 1px solid green;
    color: white;
    font-size: 12pt;
    transition: background-color 0.1s, color 0.1s;
}

.login-button:hover {
    cursor: pointer;
    background-color: white;
    color: green;
}

.invalid-login {
    display: none;
    color: red;
    font-size: 12pt;
}

.main {
    margin-top: 60px;
    display: none;
}

.endpoint-windows {
    width: 80%;
    margin-left: 10%;
    text-align: left;
    animation: fadein 0.2s;
}

.endpoint-box {
    /* margin-top: 5px; */
    border: 1px solid black;
    border-radius: 2px;
    display: none;
}

.endpoint-url {
    margin-left: 2%;
    font-size: 14pt;
    /* background-color: orange; */
    /* padding: 5px; */
    /* width: 90%; */
}

.endpoint-url > a {
    display: inline;
    font-size: 14pt;
    font-family: monospace;
    font-weight: bold;
    color: rgb(221, 43, 43);
}

.endpoint-desc {
    margin-left: 2%;
    font-size: 14pt;
}

.prediction-image {
    width: 70%;
    height: 400px;
    margin-left: 15%;
    margin-bottom: 10px;
}

.predicted-value-title {
    font-weight: 600;
    font-size: 14pt;
    text-align: center;
}

.predicted-value {
    font-size: 14pt;
    color: green;
    text-align: center;
}

.select-country {
    height: 30px;
    width: 200px;
    margin-left: 250px;
    margin-bottom: 10px;
}

.select-year {
    /* display: inline-block; */
    height: 30px;
    width: 200px;
    margin-left: 20px;
}

.button {
    margin-left: 20px;
    height: 30px;
    width: 100px;
    border: 1px solid rgb(41, 41, 194);
    background-color: rgb(41, 41, 194);
    color: white;
    text-align: center;
}

.button:hover {
    cursor: pointer;
    border: 1px solid rgb(78, 78, 196);
    background-color: rgb(78, 78, 196);
}

.title-texts {
    cursor: pointer;
    background-color: rgb(197, 201, 255);
    padding: 10px;
    font-size: 16pt;
    margin-left: 0;
    border: 1px solid rgb(197, 201, 255);
    transition: background-color 0.1s, color 0.1s;
}

.title-texts:hover {
    transition: background-color 0.1s;
    background-color: rgb(73, 73, 240);
    color: white;
}

i {
    border: solid rgb(54, 54, 54);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down-arrow {
    transform: rotate(45deg);
    float: right;
    margin-right: 1%;
    margin-top: 1%;
}

.up-arrow {
    transform: rotate(-135deg);
    float: right;
    margin-right: 1%;
    margin-top: 1%;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}